body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding: 0 3em 0 3em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header, .hero, .footer {
    background-color: #1f2937;
    color: white;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.info {
    display: flex;
    padding: 48px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-atrib {
    font-weight: bold;
}

.call {
    display: flex;
    background-color: #3882f6;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 25px;
    padding: 32px;
    margin: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 32px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 6px;

}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a, .text {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.action {
    font-weight: 800;
}